body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffffff, #e8bea8, #b57a68);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.contenedor {
    width: 90%;
    max-width: 500px;
    text-align: center;

}

.logo img {
    border: solid;
    border-color:#a6b6d7 ;
    border-radius: 100%;
    margin-top: 10px;

}

h1 {
    font-size: 40px;
    font-family:'Bree Serif', sans-serif;;
    color: #8f6e5b;
}

.fields .field {
    margin-bottom:15px;
}

.field label {
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 15px;
    text-align: start;
    color: #4d4c4c;
    margin:0px 0px 5px 30px;
}

.field input {
    width: 85%;
    padding: 15px;
    font-size: 15px;
    opacity: 0.4;
    border: 1px solid #ffffff;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.7);   
    color: black;
    transition: 0.3s;
}

.actions {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.btn {
    flex: 0.4;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: #634536;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:0.3s;
}

.btn:hover {
    background-color: #8c6b62;
}


@media (max-height: 600px) {
    .contenedor {
      max-height: 90vh;
    }
    
    h1 {
      font-size: 28px;
    }
  }