<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Eventos</title>
    <link rel="stylesheet" href="/css/Eventos.css">
</head>

<body>
    <div class="contenedor">
        <h1>Eventos</h1>
        <div class="buscar">

            <button class="btn-cerrar-sesion" onclick="window.location.href='../index.html'"><i
                    class="fi fi-rs-sign-out-alt"></i></button>

            <input type="text" id="buscar-input" class="buscar-input" placeholder="Buscar evento...">

            <button class="btn-agregar" onclick="window.location.href='crearEvento.html'" id="crear-evento-btn">
                <i class="fi fi-rr-add"></i>
            </button>
        </div>

        <ul id="lista-eventos" class="lista">

            <!-- Aquí se cargarán los eventos -->
             
        </ul>
    </div>

    <script src="../js/eventos.js"></script>
</body>

</html>